<div class="price-list-container">
  <h2>Price List</h2>

  @for (category of serviceCategories; track category.category) {
    <div class="category-container" [attr.id]="getCategoryFragment(category.category)">
      <h3>{{ category.category }}</h3>
      <div class="service-cards">
        @for (service of category.services; track service.name) {
          <div class="service-card">
            <div class="service-details">
              <h4>{{ service.name | translate }}</h4>
              <p class="duration">{{ service.duration }}</p>
              @if (service.description) {
                <p class="description">{{ service.description | translate }}</p>
              }
            </div>
            <div class="service-price">
              <p>{{ service.price }}</p>
            </div>
            <a href="https://www.fresha.com/da/book-now/my-nails-ivs-segd4iga/all-offer?share=true&pId=61335" target="_blank" class="btn-primary book-now-btn" (click)="trackBookingClickWithTranslation(service.name)">Book Now</a>
            @if (service.notes) {
              <div class="service-notes">
                * {{ service.notes | translate }}
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
  
</div>
